#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
  /* padding-top: 0.1px; */
  background-color: black;
  overflow: auto;
  width: 100%;
  position: absolute;

}


a {
  width: 100px;
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  border-color: green;
  border-radius: 30px;
  background-color: green;
  padding: .5rem 1rem;
  margin: 2rem;
  -webkit-transition: color 2s;
  transition: color 2s;

}


/* search bar */

/* background */
html {
  height: 100%;
}



body {
  margin: 0;

}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(3, 3, 2) 50%, rgb(18, 154, 245) 50%);
  bottom: 0;
  left: -50%;
  opacity: .5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}

h2 {
  color: green;
  /* font-family:Arial, Helvetica, sans-serif; */
font-size: 40px;
}
h6{
  color: green;
}

h3 {
  color:white;
  text-align: center;
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;


}

#axela,
#vitz,
#mazda,
#atenza,
#cx5,
#demio,
#subaru,
#impreza,
#impreza2,
#axio,
#allion,
#harrier {
  display: none;
  align-items: baseline;
  /* align-items: center; */
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-transition: color 2s;
  transition: color 2s;

}

.card-title {
  cursor: pointer;
  color: black;
  background-color: gray;

}


p4 {
  font-size: 20px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}


/*contact*/
#contact {
  width: 100%;
  height: 50%;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
  font-family: Arial, Helvetica, sans-serif;

}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

.form-control,
textarea {
  max-width: 400px;
  background-color: rgb(7, 4, 4);
  color: rgb(237, 241, 237);
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 36px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
  background: rgb(19, 14, 14);
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 5px;
  font: 800 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);

}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

/* #contact-us {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
  line-height: 4;
  
} */

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
  
}
li{
  text-align: justify;
}


hr {
  border-color: rgba(255, 255, 255, .6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }

  .direct-contact-container,
  .form-horizontal {
    margin: 0 auto;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }

  @media screen and (max-width: 569px) {

    .direct-contact-container,
    .form-wrapper {
      float: none;
      margin: 0 auto;
    }

    .form-control,
    textarea {

      margin: 0 auto;
    }

  }

  .name,
  .email,
  textarea {
    width: 280px;
  }
}
}

.direct-contact-container {
  margin-top: 60px;
  max-width: 280px;
}



@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  @media screen and (max-width: 410px) {
    .send-button {
      width: 99%;

    }
  }
}

a1 {
  width: 100px;

  color: white;
  text-decoration: none;
  font-family: 'Merienda', cursive;
  border-color: rgb(84, 235, 84);
  border-radius: 30px;
  background-color: rgb(124, 136, 124);
  padding: .5rem 1rem;
  margin: 2rem;
  border-style: initial;
}

/* order */
button {
  background-color: rgb(5, 8, 5);
  color: white;
  border-radius: 10px;
  border-color: blue;
}

.card-order {
  background-color: rgb(12, 14, 13);
  width: 50%;
  text-align: center;
  margin-left: 25%;
  font-family: 'Merienda', cursive;
  border-radius: 60px;
  border-style: outset;
  border-color: #fff;
}

p1 {
  font-size: 20px;
  color: #fff;
}


/* order form */

label {
  display: block;
}

.mt-1 {
  margin-top: 1rem;
}

.row {
  display: flex;
}

.col {
  margin: 0 2rem;
}

.container {
  align-items: center;
  height: 100%;
  width: 100%;
  padding-left: 5%;
  border-style: outset;
  border-color: #fff;
  background: #aaa;
  border-radius: 40px;
  opacity: 0.9;
}

table {
  width: 100%;
  /* padding-left: 50%; */
  background: #aaa;
  height: 100%;
  border-style: hidden;
  border-radius: 20px;

}

p2 {
  font-size: 20px;
}




.footer-container {
  align-items: center;
  background: black;
  height: 100%;
  padding-left: 25%;
  opacity: 0.8;

}

/* social media */
.fa:hover {
  opacity: 0.9;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #cb2027;
  color: white;
}

.fa-instagram {
  background: #3c69ad;
  color: white;
}

.footer-container .fa {
  padding: 15px;
  font-size: 30px;
  /* width: 70px; */
  text-decoration: none;
  margin: 5px 80px;
  max-height: fit-content;
  max-width: fit-content;
}